#quiz-question-panel {
  max-width: 700px;
}

#quiz-buttons {
  display: flex;
  justify-content: space-between;
}

#submit-button {
  display: none;
}

#next-button {
  justify-content: right;
}

#previous-button {
  visibility: hidden;
}

#restart-button-panel {
  display: flex;
  justify-content: flex-end;
}

#hint-panel {
  display: flex;
  justify-content: flex-start;
}
