.li-answer {
  background: rgb(236, 233, 213);
  color: black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  transition: all 0.5s ease;
}

.li-answer div {
  flex: 1;
}

.what {
  min-width: 30%;
  list-style: none;
}
